<header id="site-header" class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a id="logo" href="">
                <img width="179" height="48" src="{{ '/img/logo-white.svg' | url }}" alt="Site Logo" />
                <span class="screen-reader-text">Circular IT group &#8211; EN</span>
            </a>
        </div>
        <div id="menus">
            <nav id="menu" class="show-for-large" aria-label="Main menu">
                <ul id="menu-main" class="menu dropdown">
                    <li
                        class="menu-item first-level menu-item-1392 menu-item-has-children"
                        role="menuitem"
                        aria-label="IT Hardware"
                    >
                        <a href="{{ '/it-hardware/' | url }}" target="_self">IT Hardware</a>
                        <ul class="megamenu-container">
                            <li class="sub-menu-wrap">
                                <ul class="menu sub-menu second-level">
                                    <li
                                        class="menu-item second-level menu-item-6119 menu-item-has-children"
                                        target="_self"
                                        role="menuitem"
                                        aria-label="Buy IT"
                                    >
                                        <a>Buy IT</a>
                                        <ul class="menu sub-sub-menu third-menu">
                                            <li
                                                class="menu-item third-level menu-item-2153"
                                                target="_self"
                                                role="menuitem"
                                                aria-label="Personal Computing"
                                            >
                                                <a href="{{ '/it-hardware/buy/computers/' | url }}"
                                                    >Personal Computing<i
                                                        class="fa-regular fa-arrow-right"
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li
                                                class="menu-item third-level menu-item-2152 menu-item-has-children"
                                                target="_self"
                                                role="menuitem"
                                                aria-label="Networking Infrastructure"
                                            >
                                                <a href="{{ '/it-hardware/buy/networking-infrastructure/' | url }}"
                                                    >Networking Infrastructure<i
                                                        class="fa-regular fa-arrow-right"
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item second-level menu-item-4739 menu-item-has-children"
                                        target="_self"
                                        role="menuitem"
                                        aria-label="IT Rental"
                                    >
                                        <a>
                                            IT Rental
                                        </a>
                                        <ul class="menu sub-sub-menu third-menu">
                                            <li
                                                class="menu-item third-level menu-item-8187"
                                                target="_self"
                                                role="menuitem"
                                                aria-label="Computer Rental"
                                            >
                                                <a href="{{ '/it-hardware/rent/computers/' | url }}"
                                                    >Computer Rental<i
                                                        class="fa-regular fa-arrow-right"
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li
                                                class="menu-item third-level menu-item-8185"
                                                target="_self"
                                                role="menuitem"
                                                aria-label="Laptop Rental"
                                            >
                                                <a href="{{ '/it-hardware/rent/laptops/' | url }}"
                                                    >Laptop Rental<i
                                                        class="fa-regular fa-arrow-right"
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </li>

                                            <li
                                                class="menu-item third-level menu-item-4741"
                                                target="_self"
                                                role="menuitem"
                                                aria-label="Server Rental"
                                            >
                                                <a href="{{ '/it-hardware/rent/server/' | url }}"
                                                    >Server Rental<i
                                                        class="fa-regular fa-arrow-right"
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li
                        class="menu-item first-level menu-item-1551 menu-item-has-children"
                        role="menuitem"
                        aria-label="IT Services"
                    >
                        <a href="{{ '/it-services/' | url }}" target="_self">IT Services</a>
                        <ul class="megamenu-container">
                            <li class="sub-menu-wrap">
                                <ul class="menu sub-menu second-level">
                                    <li
                                        class="menu-item second-level menu-item-1716"
                                        target="_self"
                                        role="menuitem"
                                        aria-label="Donating IT"
                                    >
                                        <a href="{{ '/it-services/donate-your-it/' | url }}"
                                            >Donating IT<i class="fa-regular fa-arrow-right" aria-hidden="true"></i
                                        ></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item first-level menu-item-2652" role="menuitem" aria-label="ITAD">
                        <a href="{{ '/itad/' | url }}" target="_self">ITAD Albania</a>
                    </li>
                    <li class="menu-item first-level menu-item-1435" role="menuitem" aria-label="About us">
                        <a href="{{ '/about-us/' | url }}" target="_self">About us</a>
                    </li>
                </ul>
            </nav>
            <nav id="menu-main-mob" class="hide-for-large" aria-label="Metamenu">
                <ul
                    id="menu-main"
                    class="vertical medium-horizontal menu"
                    data-responsive-menu="accordion large-dropdown"
                    data-parent-link="false"
                    data-submenu-toggle="true"
                    data-back-button='<li class="js-drilldown-back"><a href="javascript:void(0);">Terug</a></li>'
                >
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1392"
                    >
                        <a href="{{ '/it-hardware/' | url }}"
                            >IT Hardware<i class="fa-regular fa-circle-chevron-down"></i
                        ></a>
                        <ul class="vertical menu">
                            <li class="no-arrow">
                                <div class="submenu-items-wrap">
                                    <ul class="vertical menu">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6119"
                                        >
                                            <a>Buy IT</a>
                                            <ul class="vertical menu">
                                                <li class="no-arrow">
                                                    <div class="submenu-items-wrap">
                                                        <ul class="vertical menu">
                                                            <li
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2153"
                                                            >
                                                                <a href="{{ '/it-hardware/buy/computers/' | url }}"
                                                                    >Personal Computing</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2152"
                                                            >
                                                                <a
                                                                    href="{{
                                                                        '/it-hardware/buy/networking-infrastructure/'
                                                                            | url
                                                                    }}"
                                                                    >Networking Infrastructure</a
                                                                >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4739"
                                        >
                                            <a>IT Rental</a>
                                            <ul class="vertical menu">
                                                <li class="no-arrow">
                                                    <div class="submenu-items-wrap">
                                                        <ul class="vertical menu">
                                                            <li
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8187"
                                                            >
                                                                <a href="{{ '/it-hardware/rent/computers/' | url }}"
                                                                    >Computer Rental</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8185"
                                                            >
                                                                <a href="{{ '/it-hardware/rent/laptops/' | url }}"
                                                                    >Laptop Rental</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4741"
                                                            >
                                                                <a href="{{ '/it-hardware/rent/server/' | url }}"
                                                                    >Server Rental</a
                                                                >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1551"
                    >
                        <a href="{{ '/it-services/' | url }}"
                            >IT Services<i class="fa-regular fa-circle-chevron-down"></i
                        ></a>
                        <ul class="vertical menu">
                            <li class="no-arrow">
                                <div class="submenu-items-wrap">
                                    <ul class="vertical menu">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1716"
                                        >
                                            <a href="{{ '/it-services/donate-your-it/' | url }}">Donating IT</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2652">
                        <a href="{{ '/itad/' | url }}">ITAD Albania</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1435">
                        <a href="{{ '/about-us/' | url }}">About us</a>
                    </li>
                </ul>
            </nav>
            <nav id="metamenu" aria-label="Metamenu">
                <div class="translation-menu">
                    <button class="translation-current lang-wrapper">
                        <span>EN</span><i class="fa-regular fa-circle-chevron-down"></i>
                    </button>
                    <div class="translation-other">
                        <div>
                            <a class="lang-wrapper" href="{{ '/nl/' | url }}" target="_self"><span>NL</span></a>
                            <a class="lang-wrapper" href="{{ '/fr/' | url }}" target="_self"><span>FR</span></a>
                            <a class="lang-wrapper" href="{{ '/de/' | url }}" target="_self"><span>DE</span></a>
                            <a class="lang-wrapper" href="{{ '/al/' | url }}" target="_self"><span>AL</span></a>
                        </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="menutoggle" data-responsive-toggle="menus" data-hide-for="large">
            <div class="translation-menu">
                <button class="translation-current lang-wrapper">
                    <span>EN</span><i class="fa-regular fa-circle-chevron-down"></i>
                </button>
                <div class="translation-other">
                    <div>
                        <a class="lang-wrapper" href="{{ '/nl/' | url }}" target="_self"><span>NL</span></a>
                        <a class="lang-wrapper" href="{{ '/fr/' | url }}" target="_self"><span>FR</span></a>
                        <a class="lang-wrapper" href="{{ '/de/' | url }}" target="_self"><span>DE</span></a>
                        <a class="lang-wrapper" href="{{ '/al/' | url }}" target="_self"><span>AL</span></a>
                    </div>
                </div>
            </div>
            <button class="menu-icon" type="button" data-toggle="menus">
                <i class="far fa-bars"></i>
                <i class="far fa-times"></i>
                <span class="screen-reader-text">Menu</span>
            </button>
        </div>
    </div>
</header>
